apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: meshcentral
spec:
  interval: 5m0s
  path: ./meshcentral/overlays/dev
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-infra
