# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  targetNamespace: monitoring
  install:
    createNamespace: true
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 67.*
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
  interval: 10m0s
  values:
    prometheus:
      service:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: prometheus.core.ajphome.com.
      prometheusSpec:
        serviceMonitorNamespaceSelector:
          matchLabels:
            monitoring: "true"
        podMonitorNamespaceSelector:
          matchLabels:
            monitoring: "true"
        retention: 30d
        web:
          tlsConfig:
            cert:
              secret:
                name: prometheus-tls
                key: tls.crt
            keySecret:
              name: prometheus-tls
              key: tls.key
        storageSpec:
          volumeClaimTemplate:
            spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    prometheus-node-exporter:
      enabled: true
      hostNetwork: true
      hostPID: true
      extraArgs:
        - --collector.systemd
        - --collector.systemd.unit-include=".+(service|socket|target)$"
      prometheus:
        monitor:
          enabled: true
      securityContext:
        privileged: true
        runAsUser: 0
    grafana:
      enabled: false
    alertmanager:
      enabled: false
